{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        openrouter/openrouter {:local/root "../openrouter"}
        haywire128/fuzzable-predicate {:local/root "../fuzzable-predicate"}
        io.replikativ/datahike {:mvn/version "0.6.1613"}
        io.github.paintparty/bling {:mvn/version "0.10.0"}
        aero/aero {:mvn/version "1.1.6"}
        parinferish/parinferish {:mvn/version "0.8.0"}}
  :aliases
  {:run-m {:jvm-opts ["-Dorg.slf4j.simpleLogger.defaultLogLevel=warn"]
          :main-opts ["-m" "haywire128.etheric-rpg-engine"]}
   :run-x {:ns-default haywire128.etheric-rpg-engine
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.5"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
