{:player/name "Sage",
 :player/genre :medieval-fantasy,
 :player/traits
 #{:innate-weaving
   :imperceptible-edge
   :noble-blood
   :arcane-resonance
   :unyielding-adaptation
   :sword-saint
   :proleptic-blur},
 :world/seed nil,
 :llm/default-model "deepseek/deepseek-v4-flash",
 :llm/max-tokens 65536}
