{:player/name "AeroTestPlayer",
 :player/genre :sci-fi,
 :player/traits
 #{:innate-weaving
   :imperceptible-edge
   :noble-blood
   :arcane-resonance
   :unyielding-adaptation
   :sword-saint
   :proleptic-blur},
 :world/seed nil,
 :llm/default-model "inception/mercury-2",
 :llm/max-tokens 16384}
