{:player/name "AeroTestPlayer",
 :player/genre :sci-fi,
 :player/traits
 #{:imperceptible-edge
   :arcane-resonance
   :unyielding-adaptation
   :proleptic-blur},
 :world/seed nil,
 :llm/default-model "deepseek/deepseek-v4-flash",
 :llm/max-tokens 65536}
